/* carousell.css */

/* slick default styles */
.slick-prev:before,
.slick-next:before {
  color: black; /* customize arrow color */
}

.slick-dots li button:before {
  color: white; /* dot color */
}

.slick-dots li.slick-active button:before {
  color: orange; /* active dot */
}

.slick-slide {
  padding: 0 !important; /* remove gutter */
  margin: 0 !important;
}
.slick-list {
  margin: 0 !important;
}
