/* CarouselStyles.css */

.swiper-slide {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.swiper-slide:hover {
  opacity: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.5);
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.custom-carousel {
  transform: scale(1);
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.custom-carousel {
  min-height: 20vh;
  position: relative;
}
